.bg-custom-light {
  background-color: $custom-light;
}

.text-custom-light {
  color: $custom-light;
}

.text-blue-dark {
  color: $blue-dark;
}

.table--text-primary td {
  color: $primary !important;
}
