.EcritureEditForm > div {
  display: flex;
}
.EcritureEditForm .input {
  margin: 2px;
  padding: 5px;
  border: solid 1px gray;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.EcritureEditForm .input label {
  font-size: xx-small;
}
#EcritureDescription, #EcriturePersonne {
  width: 200px;
}
#EcriturePiece {
  max-width: 50px;
}
.EcritureEditForm .numberInputs {
  justify-content: center;
} 
.EcritureEditForm .number input {
  width: 80px;
  text-align: right;
}
.EcritureEditForm .submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.EcritureEditForm .submit .closeButton {
  background-color: gray;
}