body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

a {
  color: black;
  text-decoration: none;
}

.message {
  margin: 20px 40px 0 40px;
  border: solid 1px;
  border-radius: 10px;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
  justify-content: center;
  background-color: white;
}

.success {
  border-color: green;
  color: green;
}
