.ecritures {
  border-spacing: 2px 4px;
  border-collapse: separate;
}

.ecritures th {
  text-align: center;
}

.ecritures td {
  margin: 4px 1px;
  border-radius: 4px;
  background-color: #fff0b1;
  padding: 2px 5px;
}

.ecritures td:nth-last-child(-n+2) {
  background-color: #a3c0f4;
}