.ecritures {
  border-collapse: collapse;
}

.ecritures th, .ecritures td {
  border: solid 1px black;
  padding: 2px 5px;
}
.ecritures th {
  text-align: center;
}
.ecritures td {
  background-color: #fff0b1;
}

/* Débits et crédits */
.ecritures td:nth-last-child(-n+2) {
  text-align: right;
  background-color: #c5d8f9;
}

/* Lignes de soldes */
.solde td:first-child {
  text-align: right;
  font-style: italic;
  background-color: #fff7d9;
}
.solde td:nth-last-child(-n+2) {
  font-weight: bold;
}

.months {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.months a {
  margin: 10px 0;
  padding: 5px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: brown;
}